@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* openai CSS */
.openai-text p {
  margin-bottom: 1rem;
}


.openai-text h1 {
  font-size: large;
  font-weight: bold;
  margin-top: 1rem;
}

.openai-text h2 {
  font-size: large;
  font-weight: bold;
  margin-top: 1rem;
}


.openai-text h3 {
  font-size: large;
  font-weight: bold;
  margin-top: 1rem;
}

.openai-text code {
  border: 1px solid var(--gray-100);
  padding: 2px;
  font-weight: 800;
  background-color: #EAEAE0;
  border-radius: 1px;
}

pre {
 background-color: #EAEAE0;
 font-size: smaller;
}

li{
    padding-left: 16px;
    position: relative;
}

.openai-text li p{
  margin-bottom: 4px;
}

li ul{
  margin-top: 4px;
}

.text-5xl{
  font-size: 24px;
}
